<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menu</li>
                <li><a href="/orders" class="waves-effect"><i class="mdi mdi-cart-outline"></i><span> Orders </a></li>
                <li><a href="/jma-orders" class="waves-effect"><i class="mdi mdi-cart-outline"></i><span> JMA Orders </a></li>
                <li><a href="/warranties" class="waves-effect"><i class="mdi mdi-security"></i><span> Warranties </a></li>
                <li><a href="/locations" class="waves-effect"><i class="mdi mdi-map-marker"></i><span> Locations </a></li>
                <li><a href="/components" class="waves-effect"><i class="mdi mdi-album"></i><span> Components </a></li>
                <li><a href="/complete-orders" class="waves-effect"><i class="mdi mdi-check-circle"></i><span> Completed Orders </a></li>
                <li><a href="/complete-jma-orders" class="waves-effect"><i class="mdi mdi-check-circle"></i><span> Completed JMA Orders </a></li>
                <li><a href="/complete-warranties" class="waves-effect"><i class="mdi mdi-check-circle"></i><span>Completed Warranties </a></li>
                <li><a href="/users" class="waves-effect"><i class="mdi mdi-account"></i><span> Users </a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>