<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
  <handlers>
   <add name="iisnode" path="bin/www" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
     <rewrite>
      <rules>
      <rule name="bin/www">
     <match url=".*" />
     <conditions>


     </conditions>
     <action type="Rewrite" url="bin/www" />
    </rule>
   </rules>
  </rewrite>
 </system.webServer>
</configuration>