<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CSSC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="CSSC" name="description" />
        <meta content="CSSC" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!--
        <link rel="shortcut icon" href="/assets/images/favicon.ico"> --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="/assets/plugins/morris/morris.css">
        <link href="/assets/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen">
        <!-- Datatable  Styles-->
        <link href="/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!--<link href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css" rel="stylesheet" type="text/css" />-->
        <!-- ...Datatable  Styles-->
        <link rel="stylesheet" type="text/css" href="/assets/plugins/timepicker/bootstrap-timepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap-select.css" rel="stylesheet" type="text/css">
    </head>

    <body class="fixed-left">
        <div id="wrapper">
            {{> header }} {{> sidebar }}
            <div class="content-page">
                {{{body}}}
                <footer class="footer"> © 2016 - 2017 CSSC - All Rights Reserved. </footer>
            </div>
        </div>

        <div id="myOrderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="" name="frmPlaceOrder" id="frmPlaceOrder" method="POST" action="" novalidate="" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Place Order</h4>
                        </div>
                        <div class="modal-body">

                            <input type="text" name="po" id="po" class="form-control" placeholder="Enter Purchase order No" required data-parsley-required-message="Please enter purchase order no"
                            />
                            <textarea name="comment" id="comment" class="form-control" placeholder="Enter comments" required data-parsley-required-message="Please enter comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close </button>
                            <button type="submit" class="btn btn-primary">Save changes </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="myJMAModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="" name="frmPlaceJMA" id="frmPlaceJMA" method="POST" action="" novalidate="" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Place JMA Order</h4>
                        </div>
                        <div class="modal-body">

                            <input type="text" name="po_jma" id="po_jma" class="form-control" placeholder="Enter Purchase order No" required data-parsley-required-message="Please enter purchase order no"
                            />
                            <textarea name="comment_jma" id="comment_jma" class="form-control" placeholder="Enter comments" required data-parsley-required-message="Please enter comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close </button>
                            <button type="submit" class="btn btn-primary">Save changes </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="myWarrantyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="" name="frmPlaceWarranty" id="frmPlaceWarranty" method="POST" action="" novalidate="" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Place Warranty</h4>
                        </div>
                        <div class="modal-body">

                            <input type="text" name="po_wrr" id="po_wrr" class="form-control" placeholder="Enter Purchase order No" required data-parsley-required-message="Please enter purchase order no"
                            />
                            <textarea name="comment_wrr" id="comment_wrr" class="form-control" placeholder="Enter comments" required data-parsley-required-message="Please enter comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close </button>
                            <button type="submit" class="btn btn-primary">Save changes </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/modernizr.min.js"></script>
        <script src="/assets/js/detect.js"></script>
        <script src="/assets/js/fastclick.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/jquery.blockUI.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/jquery.nicescroll.js"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/bootstrap-select.js"></script>
        <!-- Datatable Script -->
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
        <!--<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
        <script src="/assets/js/dataTables.editor.min.js"></script>-->
        <!-- ...Datatable Script -->
        <script src="/assets/plugins/morris/morris.min.js"></script>
        <script src="/assets/plugins/raphael/raphael-min.js"></script>
        <script src="/assets/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js" type="text/javascript"></script>
        <script src="/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
        <script src="/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
        <script src="/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script src="/assets/pages/dashborad.js"></script>
        <script src="/assets/js/app.js"></script>
        <script type="text/javascript" src="/assets/plugins/parsleyjs/parsley.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

        <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

        <script type="text/javascript">
        var order_arr = [];
        var jma_order_arr = [];
        var warranty_arr = [];
        var editor;
        $(document).ready(function () {
            /*var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // document.getElementById("demo").innerHTML = this.responseText;
                    console.log(JSON.parse(this.responseText));
                    // $('.part_no').text("");
                    $.each(JSON.parse(this.responseText), function (value, key) {
                        $('.part_no').append($("<option></option>").attr("value", key.value).text(key.label));
                    });
                }
            };
            xhttp.open("GET", "/get-part_no", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send();*/
            $('form').parsley();
            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });
            $('#example').dataTable();
            $("#datatable-filter").dataTable();
            $("#datatable_1").dataTable();
            $(".others").dataTable();
            $('#datatable').dataTable();
            /* Formatting function for row details - modify as you need */

            $(".datepicker").datepicker({
                autoclose: !0,
                format: "mm-dd-yyyy"
            });
            var date = new Date();
            date.setDate(date.getDate() + 10);
            var dateMsg = (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear();
            var current_date = $.datepicker.formatDate('mm-dd-yy', new Date());
            var current_plus_seven_date = dateMsg;
            $('.order_date').val(current_date);
            $('.ship_date').val(current_date);
            $('.ret_date').val(current_date);
            $('.rep_date').val(current_date);
            $('.ready_date').val(current_date);
            $('.due_date').val(current_plus_seven_date);
            $('.core_ret_date').val(current_date);

            var count = 1;

            $(document).on("click", ".add", function (e) {
                $("#order-table > tbody").append('<tr>' +
                    '<td><input type="text" id="pn" name="pn[]" class="form-control pn" required="required" data-parsley-required-message="Please enter part number of the product" placeholder="Please enter part number of the product"></td>' +
                    '<td><input type="text" id="qty" name="qty[]" class="form-control" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity" data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity"></td>' +
                    '<td><select class="form-control location" name="location[]" required="required"></select></td>' +
                    '<td><select class="form-control managers" name="managers[]" required="required"></select></td>' +
                    '<td><input type="text" id="order_date" name="order_date[]" class="form-control  order_date" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date"></td>' +
                    '<td><input type="text" id="due_date" name="due_date[]" class="form-control datepicker due_date" required="required" data-parsley-required-message="Please enter ship date" placeholder="Please enter due date"></td>' +
                    '<td><input type="text" id="ship_date" name="ship_date[]" class="form-control ship_date" required="required" data-parsley-required-message="Please enter ship date" placeholder="Please enter ship date"></td>' +
                    '<td><input type="text" id="comment" name="comment[]" class="form-control" data-parsley-required-message="Please enter comment" placeholder="Please enter comment"></td>' +
                    '<td><a href="javascript:void(0)" class="add"><i class="ion-plus-circled add_data"></i></a> ' +
                    '<a href="javascript:void(0)" class="remove"><i class="ion-minus-circled"></i></a></td>' +
                    '</tr>');

                var date = new Date();
                date.setDate(date.getDate() + 10);
                var dateMsg = (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear();
                var current_date = $.datepicker.formatDate('mm-dd-yy', new Date());
                var current_plus_seven_date = dateMsg;
                $('.order_date').val(current_date);
                $('.ship_date').val(current_date);
                $('.due_date').val(current_plus_seven_date);
                $("#po").trigger("keyup");
            });

            $(document).on("click", ".add_waranties_data", function (e) {
                count = count + 1;
                $("#warranty_form").append('<div id="div-'+count+'" class="warranty_form_left"><div class="box"><div class="row">' +
                    '<div class="col-20"><div class="form-group"><label>Part Number</label><div><input type="text" id="pn" name="pn[]" class="form-control pn" required="required" data-parsley-required-message="Please enter part number of the product" placeholder="Please enter part number of the product"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Location</label><div><select class="form-control location" name="location[]" required="required"><option value="">Please select location</option></select></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Managers</label><div><select class="form-control managers" name="managers[]" required="required"><option value="">Please select manager</option></select></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Serial No#</label><div><input type="text" id="serial_no" name="serial_no[]" class="form-control"  placeholder="Please enter serial no of the product"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Freight Bill#</label><div><input type="text" id="f_bill" name="f_bill[]" class="form-control" placeholder="Please enter freight bill of the product"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Order Date</label><div><input type="text" id="order_date" name="order_date[]" class="form-control order_date" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Due Date</label><div><input type="text" id="due_date" name="due_date[]" class="form-control due_date" required="required" data-parsley-required-message="Please enter due date" placeholder="Please enter due date"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Qty</label><div><input type="text" id="qty" name="qty[]" class="form-control qty" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity" data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Date Shipped</label><div><input type="text" id="ship_date" name="ship_date[]" class="form-control ship_date" required="required" data-parsley-required-message="Please enter ship date" placeholder="Please enter ship date"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Date Returned</label><div><input type="text" id="ret_date" name="ret_date[]" class="form-control ret_date" required="required" data-parsley-required-message="Please enter date returned" placeholder="Please enter date returned"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Date Reported</label><div><input type="text" id="rep_date" name="rep_date[]" class="form-control rep_date" required="required" data-parsley-required-message="Please enter date reported" placeholder="Please enter date reported"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Date Ready</label><div><input type="text" id="ready_date" name="ready_date[]" class="form-control ready_date" required="required" data-parsley-required-message="Please enter date ready" placeholder="Please enter date ready"></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Comment</label><div><textarea id="comment" name="comment[]" class="form-control comment" data-parsley-required-message="Please enter comment" placeholder="Please enter comment"></textarea></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Details</label><div><textarea id="details" name="details[]" class="form-control details" data-parsley-required-message="Please enter details" placeholder="Please enter details"></textarea></div></div></div>' +
                    '<div class="col-20"><div class="form-group"><label>Status</label><div><select class="form-control" name="invoice_status" id="invoice_status" required="required"><option value="">Select One</option><option value="1">Burnt</option><option value="2">No Defects Found</option><option value="3">Warranty Expired</option><option value="4">Honored</option><option value="5">Others</option></select></div></div></div>' +
                    '</div></div></div>');
                
                $('.remove-warranty').css('visibility', 'visible');
                var date = new Date();
                date.setDate(date.getDate() + 10);
                var dateMsg = (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear();
                var current_date = $.datepicker.formatDate('mm-dd-yy', new Date());
                var current_plus_seven_date = dateMsg;
                $('.order_date').val(current_date);
                $('.due_date').val(current_plus_seven_date);
                $('.ship_date').val(current_date);
                $('.ret_date').val(current_date);
                $('.rep_date').val(current_date);
                $('.ready_date').val(current_date);
                $("#po").trigger("keyup");
            });

            $(document).on("click", ".remove-warranty", function (e) {
                /*warranty_arr.splice($(this).closest("tr").index(), 1);
                $(this).closest("tr").remove();
                if ($('#warranty-table > tbody > tr').length == 0) {
                    $("#btn-submit-warranty").css('display', 'none');
                }*/
                if (count != 1) {
                    $('#div-'+count).remove();
                    count = count - 1;
                }
                if (count == 1) $('.remove-warranty').css('visibility', 'hidden');
            });

            $(document).on("click", ".add_data_jma", function (e) {
                $('#jma-table > tbody').append('<tr>' +
                    '<td><input type="text" id="pn" name="pn[]" class="form-control pn" required="required" data-parsley-required-message="Please enter part number of the product" placeholder="Please enter part number of the product"></td>' +
                    '<td><input type="text" id="qty" name="qty[]" class="form-control qty" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity" data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity"></td>' +
                    '<td><input type="text" id="location" name="location[]" class="form-control location" required="required" data-parsley-required-message="Please enter location" placeholder="Please enter location"></td>'+
                    '<td><input type="text" id="customer" name="customer[]" class="form-control customer" required="required" data-parsley-required-message="Please enter customer name" placeholder="Please enter customer name"></td>'+
                    '<td><input type="text" id="order_date" name="order_date[]" class="form-control order_date" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date"></td>' +
                    '<td><input type="text" id="due_date" name="due_date[]" class="form-control due_date" required="required" data-parsley-required-message="Please enter due date" placeholder="Please enter due date"></td>' +
                    '<td><input type="text" id="s_cost" name="s_cost[]" class="form-control s_cost" placeholder="Please enter shipping cost"></td>' +
                    '<td><input type="text" id="core_ret_date" name="core_ret_date[]" class="form-control core_ret_date" required="required" data-parsley-required-message="Please enter core return date" placeholder="Please enter core return date"></td>' +
                    '<td><input type="text" id="comment" name="comment[]" class="form-control"  data-parsley-required-message="Please enter comment" placeholder="Please enter comment"></td>' +
                    '<td><a href="javascript:void(0)" class="add"><i class="ion-plus-circled add_data_jma"></i></a> ' +
                    '<a href="javascript:void(0)" class="remove-jma"><i class="ion-minus-circled"></i></a></td>' +
                    '</tr>');

                var date = new Date();
                date.setDate(date.getDate() + 10);
                var dateMsg = (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear();
                var current_date = $.datepicker.formatDate('mm-dd-yy', new Date());
                var current_plus_seven_date = dateMsg;
                $('.order_date').val(current_date);
                $('.due_date').val(current_plus_seven_date);
                $('.core_ret_date').val(current_date);
            });

            $(document).on("click", ".packing", function (e) {
                var order_po = $(this).data('po');
                window.location.href = "/orders/packing/" + order_po + "/";
            });

            $(document).on("click", ".invoice", function (e) {
                var order_po = $(this).data('po');
                window.location.href = "/orders/invoice/" + order_po + "/";
            });

            $(document).on("click", ".delivery", function (e) {
                var order_po = $(this).data('po');
                window.location.href = "/orders/delivery/" + order_po + "/";
            });

            $(document).on("click", ".packing_jma", function (e) {
                var jma_order_po = $(this).data('po');
                window.location.href = "/jma-orders/packing/" + jma_order_po + "/";
            });

            $(document).on("click", ".invoice_jma", function (e) {
                var jma_order_po = $(this).data('po');
                window.location.href = "/jma-orders/invoice/" + jma_order_po + "/";
            });

            $(document).on("click", ".delivery_jma", function (e) {
                var jma_order_po = $(this).data('po');
                window.location.href = "/jma-orders/delivery/" + jma_order_po + "/";
            });

            $(document).on("click", ".packing_warranties", function (e) {
                var warr_po = $(this).data('po');
                window.location.href = "/warranties/packing/" + warr_po + "/";
            });

            $(document).on("click", ".invoice_warranties", function (e) {
                var warr_po = $(this).data('po');
                /*if ($('#invoice_status').val() == "4") {
                    window.location.href = "/warranties/honored/" + $('#po').val() + "/" + $('#row_id').val() + "/";
                }*/
                window.location.href = "/warranties/invoice/" + warr_po + "/";
            });

            $(document).on("click", ".delivery_warranties", function (e) {
                var warr_po = $(this).data('po');
                /*if ($('#invoice_status').val() == "4") {
                    window.location.href = "/warranties/honored/" + $('#po').val() + "/" + $('#row_id').val() + "/";
                }*/
                window.location.href = "/warranties/delivery/" + warr_po + "/";
            });

            //order complete
            $(document).on("click", ".order_completed", function (e) {
                var row_id = $(this).data('row_id');
                if ($(this).attr('data-ship-status') == '2') {
                    alert('Please shiped the order first');
                    return false;
                } else {
                    $("#LoadingImage").show();

                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/complete_order",
                        data: {
                            id: row_id
                        },
                        success: function (response) {
                            if (response === "1") {
                                $("#LoadingImage").hide();
                                swal({   
                                    title: "Thank You",   
                                    text: "Order completed successfully!",   
                                    type: "success",     
                                    confirmButtonColor: "#DD6B55",   
                                    confirmButtonText: "OK"
                                },  function(){
                                    window.location.reload();                                     
                                });
                            }
                            else {
                                alert("error");
                            }
                        },
                        error: function (xhr) {

                        }
                    });
                }
            });
            //end 

            $(document).on("click", ".jmaorder_completed", function (e) {
                var row_id = $(this).data('row_id');
                if ($(this).attr('data-ship-status') == '2') {
                    alert('please shiped the order first');
                } else {
                    $("#LoadingImage").show();

                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/complete_jma_order",
                        data: {
                            id: row_id
                        },
                        success: function (response) {
                            if (response === "1") {
                                $("#LoadingImage").hide();
                                swal({   
                                    title: "Thank You",   
                                    text: "JMA Order completed successfully!",   
                                    type: "success",     
                                    confirmButtonColor: "#DD6B55",   
                                    confirmButtonText: "OK"
                                },  function(){
                                    window.location.reload();                                     
                                });
                            }
                            else {
                                alert("error");
                            }
                        },
                        error: function (xhr) {

                        }
                    });
                }
            });

            $(document).on("click", ".warranties_completed", function (e) {
                var row_id = $(this).data('row_id');
                if ($(this).attr('data-ship-status') == '2') {
                    alert('please shiped the order first');
                } else {
                    $("#LoadingImage").show();

                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/complete_warranties_order",
                        data: {
                            id: row_id
                        },
                        success: function (response) {
                            if (response === "1") {
                                $("#LoadingImage").hide();
                                swal({   
                                    title: "Thank You",   
                                    text: "Warranties completed successfully!",   
                                    type: "success",     
                                    confirmButtonColor: "#DD6B55",   
                                    confirmButtonText: "OK"
                                },  function(){
                                    window.location.reload();                                     
                                });
                            }
                            else {
                                alert("error");
                            }
                        },
                        error: function (xhr) {

                        }
                    });
                }
            });

            $("#frmUsers").submit(function (e) {
                e.preventDefault();
                if ($(this).parsley().isValid()) {
                    $.ajax({
                        type: "POST",
                        url: "/add-user-ajax",
                        data: $("#frmUsers").serialize(),
                        beforeSend: function () {
                            $(".btn-primary").prop('value', 'Saving...');
                        },
                        success: function (response) {
                            if (response === "1") {
                                alert("Username already taken");
                            }
                            else if (response === "2") {
                                window.location.href = "/users";
                            }
                            $(".btn-primary").prop('value', 'Add');
                        },
                        error: function (xhr) {
                            $(".btn-primary").prop('value', 'Add');
                        }
                    });
                }
            });

            $("#frmUserEdit").submit(function (e) {
                e.preventDefault();
                if ($(this).parsley().isValid()) {
                    $.ajax({
                        type: "POST",
                        url: "/edit-user-ajax",
                        data: $("#frmUserEdit").serialize(),
                        beforeSend: function () {
                            $(".btn-primary").prop('value', 'Saving...');
                        },
                        success: function (response) {
                            if (response === "2") {
                                window.location.href = "/users";
                            }
                            else if (response === "0") {
                                alert("Username already taken");
                            }
                            else {
                                alert("Please try again");
                            }
                            $(".btn-primary").prop('value', 'Add');
                        },
                        error: function (xhr) {
                            $(".btn-primary").prop('value', 'Add');
                        }
                    });
                }
            });

            $("#frmChangePass").validate({
                rules: {
                    old_pass: {
                        required: true
                    },
                    new_pass: {
                        required: true
                    },
                    renew_pass: {
                        required: true,
                        equalTo: "#new_pass"
                    }
                },
                messages: {
                    old_pass: {
                        required: "Please enter old password"
                    },
                    new_pass: {
                        required: "Please enter new password"
                    },
                    renew_pass: {
                        required: "Please enter confirm password",
                        equalTo: "new password and confirm password must be same"
                    }
                },
                submitHandler:function(form) {
                    $.ajax({
                        type: "POST",
                        url: "/change-pass-ajax",
                        data: {
                            id: $("#user_id").val(),
                            oldpassword: $("#old_pass").val(),
                            newpassword: $("#new_pass").val()
                        },
                        success:function(response) {
                            if (response === "2") {
                                window.location.href = "/users";
                            }
                            else if (response === "0") {
                                alert("Old password didn't match");
                            }
                            else {
                                alert("Please try again");
                            }
                        },
                        error: function(xhr) {
                            alert("Please try again");
                        }
                    });
                }
            });
        });

        $(document).on("click", "#locationTable > tbody > tr > td", function (e) {
            $(this).find("input:text").css("display", "block");
            $(this).siblings().find("input:text").hide();
        });

        $(document).on("click", "#locationTable > tbody > tr", function (e) {
            $(this).siblings().find("input:text").hide();
        });

        $(document).on("click", "#componentTable > tbody > tr > td", function (e) {
            $(this).find("input:text").css("display", "block");
            $(this).siblings().find("input:text").hide();
        });

        $(document).on("click", "#componentTable > tbody > tr", function (e) {
            $(this).siblings().find("input:text").hide();
        });

        $(document).on("click", "#order_inv", function (e) {
            $("#txt_order_inv").css("display", "block");
        });

        $(document).on("keydown", "#txt_order_inv", function (e) {
            if (e.keyCode == 13) {
                var flag = 0;
                var id = $(this).data('value');
                var value = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/update-order-invoice",
                    data: { id: id, value: value },
                    async: false,
                    success: function (response) {
                        if (response == 1) {
                            flag = 1;
                        } else if (response == 0) {
                            var r = alert("Invoice No already assigned to another order!");
                            $(this).val(value);
                            window.location.reload();
                        }
                    },
                    error: function (xhr) {
                        flag = 0;
                    }
                });
                if (flag == 1) {
                    $("#order_inv").text($(this).val());
                    $(this).hide();
                    window.location.reload();
                }
            }
        });

        $(document).on("click", "#jmaorder_inv", function (e) {
            $("#txt_jmaorder_inv").css("display", "block");
        });

        $(document).on("keydown", "#txt_jmaorder_inv", function (e) {
            if (e.keyCode == 13) {
                var flag = 0;
                var id = $(this).data('value');
                var value = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/update-jmaorder-invoice",
                    data: { id: id, value: value },
                    async: false,
                    success: function (response) {
                        if (response == 1) {
                            flag = 1;
                        } else if (response == 0) {
                            var r = alert("Invoice No already assigned to another JMA order!");
                            $(this).val(value);
                            window.location.reload();
                        }
                    },
                    error: function (xhr) {
                        flag = 0;
                    }
                });
                if (flag == 1) {
                    $("#jmaorder_inv").text($(this).val());
                    $(this).hide();
                    window.location.reload();
                }
            }
        });

        $(document).on("click", "#warranties_inv", function (e) {
            $("#txt_warranties_inv").css("display", "block");
        });

        $(document).on("keydown", "#txt_warranties_inv", function (e) {
            if (e.keyCode == 13) {
                var flag = 0;
                var id = $(this).data('value');
                var value = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/update-warranties-invoice",
                    data: { id: id, value: value },
                    async: false,
                    success: function (response) {
                        if (response == 1) {
                            flag = 1;
                        } else if (response == 0) {
                            var r = alert("Invoice No already assigned to another warranties!");
                            $(this).val(value);
                            window.location.reload();
                        }
                    },
                    error: function (xhr) {
                        flag = 0;
                    }
                });
                if (flag == 1) {
                    $("#warranties_inv").text($(this).val());
                    $(this).hide();
                    window.location.reload();
                }
            }
        });

        $(document).on("keydown", ".txt", function (e) {
            if (e.keyCode == 13) {
                var flag = 0;
                var id = $(this).closest('td').data('value');
                var value = $(this).val();
                var class_name = $(this).attr('class').split(" ");
                $.ajax({
                    type: "POST",
                    url: "/update-location",
                    data: { id: id, value: value, class_name: class_name[0] },
                    async: false,
                    success: function (response) {
                        if (response == 1) {
                            flag = 1;
                        }
                    },
                    error: function (xhr) {
                        flag = 0;
                    }
                });

                if (flag == 1) {
                    $(this).closest("td").text($(this).val());
                    $(this).hide();
                }
            }
        });

        $(document).on("keydown", ".txt1", function (e) {
            if (e.keyCode == 13) {
                var flag = 0;
                var id = $(this).closest('td').data('value');
                var value = $(this).val();
                var class_name = $(this).attr('class').split(" ");
                $.ajax({
                    type: "POST",
                    url: "/update-components",
                    data: { id: id, value: value, class_name: class_name[0] },
                    async: false,
                    success: function (response) {
                        if (response == 1) {
                            flag = 1;
                        }
                    },
                    error: function (xhr) {
                        flag = 0;
                    }
                });

                if (flag == 1) {
                    $(this).closest("td").text($(this).val());
                    $(this).hide();
                }
            }
        });

        $(document).on("click", ".remove", function (e) {
            order_arr.splice($(this).closest("tr").index(), 1);
            $(this).closest("tr").remove();
            if ($('#order-table > tbody > tr').length == 0) {
                $("#btn-submit").css('display', 'none');
            }
        });

        $(document).on("click", ".remove-jma", function (e) {
            jma_order_arr.splice($(this).closest("tr").index(), 1);
            $(this).closest("tr").remove();
            if ($('#jma-table > tbody > tr').length == 0) {
                $("#btn-submit-jma").css('display', 'none');
            }
        });

        $(document).on("focus", ".pn", function (e) {
            $(this).autocomplete({
                source: "/get-product-no",
                minLength: 2,
                /*change: function (event, ui) {
                    if (!ui.item) {
                        alert("Please select part no");
                        $(this).val("");
                    }
                },*/
                focus: function (event, ui) {
                    this.value = ui.item.label;
                    // Prevent other event from not being execute
                    event.preventDefault();
                },
                select: function (event, ui) {
                    this.value = ui.item.label;
                    event.preventDefault();
                }
            });
        });

        $(document).on("focus", ".jma_pn", function (e) {
            $(this).autocomplete({
                source: "/get-product-no",
                minLength: 2,
                /*change: function (event, ui) {
                    if (!ui.item) {
                        alert("Please select part no");
                        $(this).val("");
                    }
                },*/
                focus: function (event, ui) {
                    this.value = ui.item.label;
                    // Prevent other event from not being execute
                    event.preventDefault();
                },
                select: function (event, ui) {
                    this.value = ui.item.label;
                    event.preventDefault();
                }
            });
        });


        $(document).on("keyup", "#po", function (e) {
            //$("#po").keyup(function (e) {
            //if(this.value.length =='2') {
            if (e.which == 8 || e.which == 46) {
                if (this.value.length == "0") {
                    $('.location').text("");
                    $('.managers').text("");
                } else {
                    var mystr = this.value;
                    var substr = mystr.substr(0, 2);
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // console.log(JSON.parse(this.responseText));
                            $('.location').text("");
                            $('.managers').text("");
                            $.each(JSON.parse(this.responseText), function (value, key) {
                                $('.location').append($("<option></option>").attr("value", key.value).text(key.label));
                                $('.managers').append($("<option></option>").attr("value", key.manager).text(key.manager));
                            });
                        }
                    };
                    xhttp.open("POST", "/get-location-order", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("ln=" + substr.toUpperCase());
                }
            } else {
                var mystr = this.value;
                var substr = mystr.substr(0, 2);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // document.getElementById("demo").innerHTML = this.responseText;
                        //console.log(JSON.parse(this.responseText));
                        $('.location').text("");
                        $('.managers').text("");
                        $.each(JSON.parse(this.responseText), function (value, key) {
                            $('.location').append($("<option></option>").attr("value", key.value).text(key.label));
                            $('.managers').append($("<option></option>").attr("value", key.manager).text(key.manager));
                        });
                    }
                };
                xhttp.open("POST", "/get-location-order", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("ln=" + substr.toUpperCase());
            }
            //}
        });

        $(document).on("keyup", "#warr_po", function (e) {
            //$("#po").keyup(function (e) {
            //if(this.value.length =='2') {
            if (e.which == 8 || e.which == 46) {
                if (this.value.length == "0") {
                    $('.location').text("");
                    $('.managers').text("");
                } else {
                    var mystr = this.value;
                    var substr = mystr.substr(0, 2);
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            // console.log(JSON.parse(this.responseText));
                            $('.location').text("");
                            $('.managers').text("");
                            $.each(JSON.parse(this.responseText), function (value, key) {
                                $('.location').append($("<option></option>").attr("value", key.value).text(key.label));
                                $('.managers').append($("<option></option>").attr("value", key.manager).text(key.manager));
                            });
                        }
                    };
                    xhttp.open("POST", "/get-location-warranty", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("ln=" + substr.toUpperCase());
                }
            } else {
                var mystr = this.value;
                var substr = mystr.substr(0, 2);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // document.getElementById("demo").innerHTML = this.responseText;
                        //console.log(JSON.parse(this.responseText));
                        $('.location').text("");
                        $('.managers').text("");
                        $.each(JSON.parse(this.responseText), function (value, key) {
                            $('.location').append($("<option></option>").attr("value", key.value).text(key.label));
                            $('.managers').append($("<option></option>").attr("value", key.manager).text(key.manager));
                        });
                    }
                };
                xhttp.open("POST", "/get-location-warranty", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("ln=" + substr.toUpperCase());
            }
            //}
        });

        $(document).on("focus", ".order_date, .jma_order_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy",
            });
        });

        $(document).on("focus", ".due_date, .jma_due_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy",
            });
        });

        $(document).on("focus", ".ship_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy"
            });
        });

        $(document).on("focus", ".ret_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy",
            });
        });

        $(document).on("focus", ".core_ret_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy",
            });
        });

        $(document).on("focus", ".rep_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy",
            });
        });

        $(document).on("focus", ".ready_date", function (e) {
            $(this).datepicker({
                autoclose: !0,
                changeYear: true,
                format: "mm-dd-yyyy",
            });
        });

        $('.clear_filter').click(function (e) {
            window.location.href = "/orders";
        });

        $('.clear_complete_filter').click(function (e) {
            window.location.href = "/complete";
        });

        $('.clear_complete_warranties_filter').click(function (e) {
            window.location.href = "/complete-warranties";
        });

        $('.clear_jma_filter').click(function (e) {
            window.location.href = "/jma-orders";
        });

        $('.clear_warranty_filter').click(function (e) {
            window.location.href = "/warranties";
        });

        $('.clear_filter_components').click(function (e) {
            window.location.href = "/components";
        });

        $(document).ready(function() {
            var total_po_result;
            var total_jmapo_result;
            var total_warrpo_result;
            
            function format(total_po_result, order_po) {
                var arr = JSON.parse(total_po_result);
                var arr_1 = JSON.parse(total_po_result).splice(-1);
                arr.splice(-1);
                var output_arr = [];
                output_arr += '<form name="order_list_edit" id="order_list_edit" method="post" action="">'+ 
                            '<div class="details-container">'+
                            '<table class="table" id="order-table">'+
                            '<thead>'+
                                '<tr>'+
                                    '<th>Part Number</th>'+
                                    '<th>Quantity</th>'+
                                    '<th>Location</th>'+
                                    '<th>Managers</th>'+
                                    '<th>Order Date</th>'+
                                    '<th>Due Date</th>'+
                                    '<th style="width: 10%;">Ship Date</th>'+
                                    '<th>Freight Bill</th>'+
                                    '<th>Comment</th>'+
                                    '<th>Action</th>'+
                                '</tr>'+
                            '</thead>'+
                            '<tbody>';
                $.each(arr, function (key, val) {
                    var location_list = '';
                    var manager_list = '';
                    for (var i = 0; i < arr_1.length; i++) {
                        location_list += '<option value="'+arr_1[i].value+'">'+arr_1[i].label+'</option>';
                    }
                    for (var i = 0; i < arr_1.length; i++) {
                        manager_list += '<option value="'+arr_1[i].manager+'">'+arr_1[i].manager+'</option>';
                    }
                    var complete;
                    if (val['status'] != 4) {
                        complete = '<a title="Complete" class="btn btn-primary btn-sm order_completed" data-row_id="'+val['id']+'" data-ship-status="'+val['status']+'" href="javascript:void(0)"><i class="fa fa-check" aria-hidden="true"></i></a>';
                    } else {
                        complete = '';
                    }
                    output_arr += '<tr>'+
                        '<td>'+
                            '<input type="text" id="pn_'+val['id']+'" data-row_id="'+val['id']+'" name="pn" class="form-control pn" required="required" data-parsley-required-message="Please enter part number of the product" placeholder="Please enter part number of the product" value="'+val['pn']+'">' +
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="qty_'+val['id']+'" name="qty" class="form-control qty" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity" data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity" value="'+val['qty']+'">'+
                        '</td>'+
                        '<td>'+
                            '<select class="form-control location" id="location_'+val['id']+'" name="location" required="required">'+
                                location_list+
                            '</select>'+
                        '</td>'+
                        '<td>'+
                            '<select class="form-control managers" id="managers_'+val['id']+'" name="managers" required="required">'+
                                manager_list+
                            '</select>'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="order_date_'+val['id']+'" name="order_date" class="form-control order_date" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date" value="'+getFormattedDate(val['ordered'])+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="due_date_'+val['id']+'" name="due_date" class="form-control due_date" required="required" data-parsley-required-message="Please enter due date" placeholder="Please enter due date" value="'+getFormattedDate(val['due'])+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="ship_date_'+val['id']+'" name="ship_date" class="form-control ship_date" required="required" data-parsley-required-message="Please enter ship date" placeholder="Please enter ship date" value="'+getFormattedDate(val['shipped'])+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="f_bill_'+val['id']+'" name="f_bill" class="form-control f_bill"  data-parsley-required-message="Please enter freight bill" placeholder="Please enter freight bill" value="'+val['freight_bill']+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="comment_'+val['id']+'" name="comment" class="form-control comment"  data-parsley-required-message="Please enter comment" placeholder="Please enter comment" value="'+val['comment']+'">'+
                        '</td>'+
                        '<td>'+
                            '<a title="Update" href="javascript:void(0)" class="btn btn-primary btn-sm update_po" data-row_id="'+val['id']+'"><i class="fa fa-pencil" aria-hidden="true"></i></a>'+
                            complete +
                            '<a title="Delete" href="javascript:void(0)" class="btn btn-danger btn-sm delete" data-row_id="'+val['id']+'"><i class="fa fa-trash" aria-hidden="true"></i></a>' +
                        '</td>'+
                    '</tr>'+
                    '<input type="hidden" name="curr_status" class="curr_status" value="'+val['status']+'">';
                });
                output_arr += '</tbody>'+
                    '</table>'+
                    '</div>'+
                    '<div class="btn-group">'+
                        '<a title="Packing List" class="packing" data-po="'+order_po+'" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Packing List </button></a>'+
                        '<a title="Invoice" class="invoice" data-po="'+order_po+'"><button type="button" class="btn btn-primary waves-effect waves-light"> Invoice </button></a>'+
                        '<a title="Delivery Confirmation" class="delivery" data-po="'+order_po+'"><button type="button" class="btn btn-primary waves-effect waves-light"> Delivery Confirmation </button></a>'+
                    '</div>'+
                    '</form>';
                $('.details-row').html(output_arr);
                $('.output-data').html(output_arr);
            };

            function format_jma(total_jmapo_result, jma_order_po) {
                var arr = JSON.parse(total_jmapo_result);
                var output_arr = [];
                output_arr += '<div class="details-container table-responsive">'+
                            '<table class="table" id="jma-order-table">'+
                            '<thead>'+
                                '<tr>'+
                                    '<th>Part Number</th>'+
                                    '<th>Quantity</th>'+
                                    '<th>Location</th>'+
                                    '<th>Customer</th>'+
                                    '<th>Order Date</th>'+
                                    '<th>Due Date</th>'+
                                    '<th>Shipping Cost</th>'+
                                    '<th>Core Return Date</th>'+
                                    '<th>Freight Bill</th>'+
                                    '<th>Comment</th>'+
                                    '<th>Action</th>'+
                                '</tr>'+
                            '</thead>'+
                            '<tbody>';
                $.each(arr, function (key, val) {
                    var complete;
                    if (val['status'] != 4) {
                        complete = '<a title="Complete" class="btn btn-primary btn-sm jmaorder_completed" data-row_id="'+val['id']+'" data-ship-status="'+val['status']+'" href="javascript:void(0)"><i class="fa fa-check" aria-hidden="true"></i></a>';
                    } else {
                        complete = '';
                    }
                    output_arr += '<tr>'+
                        '<td>'+
                            '<input type="text" id="pn_'+val['id']+'" name="pn" class="form-control jma_pn" required="required" data-parsley-required-message="Please enter part number of the product" placeholder="Please enter part number of the product" value="'+val['pn']+'">' +
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="qty_'+val['id']+'" name="qty" class="form-control jma_qty" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity" data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity" value="'+val['qty']+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="location_'+val['id']+'" name="location" class="form-control jma_location" required="required" data-parsley-required-message="Please enter location" placeholder="Please enter location" value="'+val['location']+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="customer_'+val['id']+'" name="customer" class="form-control jma_customer" required="required" data-parsley-required-message="Please enter customer name" placeholder="Please enter customer name" value="'+val['customer']+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="order_date_'+val['id']+'" name="order_date" class="form-control jma_order_date" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date" value="'+getFormattedDate(val['ordered'])+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="due_date_'+val['id']+'" name="due_date" class="form-control jma_due_date" required="required" data-parsley-required-message="Please enter due date" placeholder="Please enter due date" value="'+getFormattedDate(val['due'])+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="s_cost_'+val['id']+'" name="s_cost" class="form-control jma_s_cost" placeholder="Please enter shipping cost" value="'+val['shipping_cost']+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="core_ret_date_'+val['id']+'" name="core_ret_date" class="form-control jma_core_ret_date" required="required" data-parsley-required-message="Please enter core return date" placeholder="Please enter core return date" value="'+getFormattedDate(val['core_returned'])+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="f_bill_'+val['id']+'" name="f_bill" class="form-control jma_f_bill"  data-parsley-required-message="Please enter freight bill" placeholder="Please enter freight bill" value="'+val['freight_bill']+'">'+
                        '</td>'+
                        '<td>'+
                            '<input type="text" id="comment_'+val['id']+'" name="comment" class="form-control jma_comment"  data-parsley-required-message="Please enter comment" placeholder="Please enter comment" value="'+val['comment']+'">'+
                        '</td>'+
                        '<td>'+
                            '<a title="Update" href="javascript:void(0)" class="btn btn-primary btn-sm update_jma_po" data-row_id='+val['id']+'><i class="fa fa-pencil" aria-hidden="true"></i></a>'+
                            complete +
                            '<a title="Delete" href="javascript:void(0)" class="btn btn-danger btn-sm delete_jma_po" data-row_id='+val['id']+'><i class="fa fa-trash" aria-hidden="true"></i></a>' +
                        '</td>'+
                    '</tr>'+
                    '<input type="hidden" name="curr_status" class="curr_status" value="'+val['status']+'">';
                });
                output_arr += '</tbody>'+
                    '</table>'+
                    '</div>'+
                    '<div class="btn-group">'+
                        '<a title="Invoice" class="invoice_jma" data-po="'+jma_order_po+'"><button type="button" class="btn btn-primary waves-effect waves-light"> Invoice </button></a>'+
                        '<a title="Delivery Confirmation" class="delivery_jma" data-po="'+jma_order_po+'"><button type="button" class="btn btn-primary waves-effect waves-light"> Delivery Confirmation </button></a>'+
                    '</div>';
                $('.details-row').html(output_arr);
                $('.output-data').html(output_arr);
            };

            function format_warr(total_warrpo_result, warr_po) {
                var arr = JSON.parse(total_warrpo_result);
                var arr_1 = JSON.parse(total_warrpo_result).splice(-1);
                arr.splice(-1);
                var output_arr = [];
                $.each(arr, function (key, val) {
                    var location_list = '';
                    var manager_list = '';
                    for (var i = 0; i < arr_1.length; i++) {
                        location_list += '<option value="'+arr_1[i].value+'">'+arr_1[i].label+'</option>';
                    }
                    for (var i = 0; i < arr_1.length; i++) {
                        manager_list += '<option value="'+arr_1[i].manager+'">'+arr_1[i].manager+'</option>';
                    }
                    var complete;
                    if (val['status'] != 4) {
                        complete = '<a title="Complete" class="btn btn-primary btn-sm order_completed" data-row_id="'+val['id']+'" data-ship-status="'+val['status']+'" href="javascript:void(0)"><i class="fa fa-check" aria-hidden="true"></i></a>';
                    } else {
                        complete = '';
                    }
                    output_arr += '<div class="warranty_form" id="warranty_form"><div class="warranty_form_left">'+
                            '<div class="box">'+
                                '<div class="row">'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Part Number</label>'+
                                            '<div>'+
                                                '<input type="text" id="pn" name="pn[]" class="form-control pn" required="required" data-parsley-required-message="Please enter part number of the product" placeholder="Please enter part number of the product" value="'+val['pn']+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Location</label>'+
                                            '<div>'+
                                                '<select class="form-control location" name="location[]" required="required" style="width: 95%">'+
                                                    location_list+
                                                '</select>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Managers</label>'+
                                            '<div>'+
                                                '<select class="form-control managers" name="managers[]" required="required" style="width: 95%">'+
                                                    manager_list+
                                                '</select>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Serial No#</label>'+
                                            '<div>'+
                                                '<input type="text" id="serial_no" name="serial_no" class="form-control"  placeholder="Please enter serial no of the product" value="'+val['serial_no']+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Freight Bill#</label>'+
                                            '<div>'+
                                                '<input type="text" id="f_bill" name="f_bill" class="form-control" placeholder="Please enter freight bill of the product" value="'+val['freight_bill']+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Order Date</label>'+
                                            '<div>'+
                                                '<input type="text" id="order_date" name="order_date[]" class="form-control order_date" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date" value="'+getFormattedDate(val['ordered'])+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Due Date</label>'+
                                            '<div>'+
                                                '<input type="text" id="due_date" name="due_date[]" class="form-control due_date" required="required" data-parsley-required-message="Please enter due date" placeholder="Please enter due date" value="'+getFormattedDate(val['due'])+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Qty</label>'+
                                            '<div>'+
                                                '<input type="text" id="qty" name="qty[]" class="form-control qty" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity" data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity" value="'+val['qty']+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Date Shipped</label>'+
                                            '<div>'+
                                                '<input type="text" id="ship_date" name="ship_date[]" class="form-control ship_date" required="required" data-parsley-required-message="Please enter ship date" placeholder="Please enter ship date" value="'+getFormattedDate(val['shipped'])+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Date Returned</label>'+
                                            '<div>'+
                                                '<input type="text" id="ret_date" name="ret_date[]" class="form-control ret_date" required="required" data-parsley-required-message="Please enter date returned" placeholder="Please enter date returned" value="'+getFormattedDate(val['returned'])+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Date Reported</label>'+
                                            '<div>'+
                                                '<input type="text" id="rep_date" name="rep_date[]" class="form-control rep_date" required="required" data-parsley-required-message="Please enter date reported" placeholder="Please enter date reported" value="'+getFormattedDate(val['reported'])+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Date Ready</label>'+
                                            '<div>'+
                                                '<input type="text" id="ready_date" name="ready_date[]" class="form-control ready_date" required="required" data-parsley-required-message="Please enter date ready" placeholder="Please enter date ready" value="'+getFormattedDate(val['ready'])+'">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Comment</label>'+
                                            '<div>'+
                                                '<textarea id="comment" name="comment[]" class="form-control comment" data-parsley-required-message="Please enter comment" placeholder="Please enter comment">'+val['comment']+'</textarea>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Details</label>'+
                                            '<div>'+
                                                '<textarea id="details" name="details[]" class="form-control details" data-parsley-required-message="Please enter details" placeholder="Please enter details">'+val['itemcomment']+'</textarea>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="col-20">'+
                                        '<div class="form-group">'+
                                            '<label>Status</label>'+
                                            '<div>'+
                                                '<select class="form-control" name="invoice_status" id="invoice_status" required="required">'+
                                                    '<option value="">Select One</option>'+
                                                    '<option value="1">Burnt</option>'+
                                                    '<option value="2">No Defects Found</option>'+
                                                    '<option value="3">Warranty Expired</option>'+
                                                    '<option value="4">Honored</option>'+
                                                    '<option value="5">Others</option>'+
                                                '</select>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="warranty_form_right">'+
                        '</div>'+
                    '</div>';
                });
                output_arr += '<div class="btn-group">'+
                        '<a title="Packing List" class="packing_warranties" data-po="'+warr_po+'" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Packing List </button></a>'+
                        '<a title="Invoice" class="invoice_warranties" data-po="'+warr_po+'"><button type="button" class="btn btn-primary waves-effect waves-light"> Invoice </button></a>'+
                        '<a title="Delivery Confirmation" class="delivery_warranties" data-po="'+warr_po+'"><button type="button" class="btn btn-primary waves-effect waves-light"> Delivery Confirmation </button></a>'+
                    '</div>';
                $('.details-row').html(output_arr);
                $('.output-data').html(output_arr);
            };

            $('.order-table tr').each(function(index, val) {
                $(this).find('td').last().addClass('details-control');
            });

            $('.jma-order-table tr').each(function(index, val) {
                $(this).find('td').last().addClass('details-control-jma');
            });

            $('.warr-table tr').each(function(index, val) {
                $(this).find('td').last().addClass('details-control-warr');
            });

            $('.datatables').DataTable();
     
            $(document).on("click", ".remove-control", function(e) {
                $('.details-row').remove(); 
                $(this).removeClass("remove-control");
                $(this).addClass("details-control");
            });

            $(document).on("click", ".details-control", function(e) {
                var order_po = $(this).data('po');
                var flagBool = false;
                $.ajax({
                    type: "GET",
                    url: "/orders/details/" + order_po,
                    async: false,
                    success: function (response) {
                        total_po_result = response;
                        flagBool = true;
                    },
                    error: function (xhr) {
                        alert('error');
                    },
                    complete: function () {
                        format(total_po_result, order_po);
                        flagBool = true;
                    }
                });
                if (flagBool) {
                   $(".remove-control").removeClass('remove-control').addClass("details-control");
                    $('.details-row').remove();
                    $(this).parent().addClass("shown");
                    $(this).removeClass("details-control").addClass('remove-control');
                    $(this).closest("tr").after("<tr class='details-row'><td colspan='3'>"+ $('.output-data').html() + "</td></tr>");
                }
            });

            $(document).on("click", ".remove-control-jma", function(e) {
                $('.details-row').remove(); 
                $(this).removeClass("remove-control-jma");
                $(this).addClass("details-control-jma");
            });

            $(document).on("click", ".details-control-jma", function(e) {
                var jma_order_po = $(this).data('po');
                var flagBool = false;
                $.ajax({
                    type: "GET",
                    url: "/jma-orders/details/" + jma_order_po,
                    async: false,
                    success: function (response) {
                        total_jmapo_result = response;
                        flagBool = true;
                    },
                    error: function (xhr) {
                        alert('error');
                    },
                    complete: function () {
                        format_jma(total_jmapo_result, jma_order_po);
                        flagBool = true;
                    }
                });
                if (flagBool) {
                   $(".remove-control-jma").removeClass('remove-control-jma').addClass("details-control-jma");
                    $('.details-row').remove();
                    $(this).parent().addClass("shown");
                    $(this).removeClass("details-control-jma").addClass('remove-control-jma');
                    $(this).closest("tr").after("<tr class='details-row'><td colspan='4'>"+ $('.output-data').html() + "</td></tr>");
                }
            });

            $(document).on("click", ".remove-control-warr", function(e) {
                $('.details-row').remove(); 
                $(this).removeClass("remove-control-warr");
                $(this).addClass("details-control-warr");
            });

            $(document).on("click", ".details-control-warr", function(e) {
                var warr_po = $(this).data('po');
                var flagBool = false;
                $.ajax({
                    type: "GET",
                    url: "/warranties/details/" + warr_po,
                    async: false,
                    success: function (response) {
                        console.log(response);
                        total_warrpo_result = response;
                        flagBool = true;
                    },
                    error: function (xhr) {
                        alert('error');
                    },
                    complete: function () {
                        format_warr(total_warrpo_result, warr_po);
                        flagBool = true;
                    }
                });
                if (flagBool) {
                   $(".remove-control-warr").removeClass('remove-control-warr').addClass("details-control-warr");
                    $('.details-row').remove();
                    $(this).parent().addClass("shown");
                    $(this).removeClass("details-control-warr").addClass('remove-control-warr');
                    $(this).closest("tr").after("<tr class='details-row'><td colspan='3'>"+ $('.output-data').html() + "</td></tr>");
                }
            });

            //order po section delete//
            $(document).on('click', '.delete', function () {
                var row_id = $(this).data('row_id');
                if (row_id) {
                    swal({
                        title: "Do you really want to delete the current record ?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                    function() {
                        $.ajax({
                            type: "GET",
                            url: "/orders/delete/" + row_id,
                            success: function (response) {
                                if (response.success === "1") {
                                    swal({   
                                        title: "Thank You",   
                                        text: "Deleted successfully!",   
                                        type: "success",     
                                        confirmButtonColor: "#DD6B55",   
                                        confirmButtonText: "OK"
                                    },  function() {
                                        window.location.reload();                                     
                                    });
                                } else {
                                    alert("error");
                                }
                            },
                            error: function (xhr) {

                            }
                        });
                    });
                }
            });
            //end

            //jma po delete
            $(document).on('click', '.delete_jma_po', function () {
                var row_id = $(this).data('row_id');
                if (row_id) {
                    swal({
                        title: "Do you really want to delete the current record ?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                    function() {
                        $.ajax({
                            type: "GET",
                            url: "/jma-orders/delete/" + row_id,
                            success: function (response) {
                                if (response.success === "1") {
                                    swal({   
                                        title: "Thank You",   
                                        text: "Deleted successfully!",   
                                        type: "success",     
                                        confirmButtonColor: "#DD6B55",   
                                        confirmButtonText: "OK"
                                    },  function() {
                                        window.location.reload();                                     
                                    });
                                } else {
                                    alert("error");
                                }
                            },
                            error: function (xhr) {

                            }
                        });
                    });
                }
            });
            //end

            //warrenties po delete
            $(document).on('click', '.delete_warrenties_po', function () {
                var row_id = $(this).data('row_id');
                if (row_id) {
                    swal({
                        title: "Do you really want to delete the current record ?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                    function() {
                        $.ajax({
                            type: "GET",
                            url: "/warranties/delete/" + row_id,
                            success: function (response) {
                                if (response.success === "1") {
                                    swal({   
                                        title: "Thank You",   
                                        text: "Deleted successfully!",   
                                        type: "success",     
                                        confirmButtonColor: "#DD6B55",   
                                        confirmButtonText: "OK"
                                    },  function() {
                                        window.location.reload();                                     
                                    });
                                } else {
                                    alert("error");
                                }
                            },
                            error: function (xhr) {

                            }
                        });
                    });
                }
            });
            //end

            /********Data Field*********/
             var qty, pn, location, managers, order_date, due_date, ship_date, f_bill, comment, jma_qty, jma_pn, jma_location, jma_customer, jma_order_date, jma_due_date, jma_s_cost, jma_core_ret_date, jma_f_bill, jma_comment;   
            /**********End****************/
            $(document).on('change', '.pn', function(){
                pn = $(this).val();
            });
            $(document).on('change', '.qty', function(){
                qty = $(this).val();
            });
            $(document).on('change', '.location', function(){
                location = $(this).val();
            });
            $(document).on('change', '.managers', function(){
                managers = $(this).val();
            });
            $(document).on('change', '.order_date', function(){
                order_date = $(this).val();
            });
            $(document).on('change', '.due_date', function(){
                due_date = $(this).val();
            });
            $(document).on('change', '.ship_date', function(){
                ship_date = $(this).val();
            });
            $(document).on('change', '.f_bill', function(){
                f_bill = $(this).val();
            });
            $(document).on('change', '.comment', function(){
                comment = $(this).val();
            });

            $(document).on('change', '.jma_pn', function(){
                jma_pn = $(this).val();
            });
            $(document).on('change', '.jma_qty', function(){
                qty = $(this).val();
            });
            $(document).on('change', '.jma_location', function(){
                location = $(this).val();
            });
            $(document).on('change', '.jma_customer', function(){
                managers = $(this).val();
            });
            $(document).on('change', '.jma_order_date', function(){
                order_date = $(this).val();
            });
            $(document).on('change', '.jma_due_date', function(){
                due_date = $(this).val();
            });
            $(document).on('change', '.jma_core_ret_date', function(){
                jma_core_ret_date = $(this).val();
            });
            $(document).on('change', '.jma_s_cost', function(){
                s_cost = $(this).val();
            });
            $(document).on('change', '.jma_f_bill', function(){
                f_bill = $(this).val();
            });
            $(document).on('change', '.jma_comment', function(){
                comment = $(this).val();
            });
            
            //update order po
            $(document).on('click', '.update_po', function () {
                var row_id = $(this).data('row_id');
                var curr_status = $(".curr_status").val();
                var old_pn_value = $("#pn_"+row_id).val();
                var old_qty_value = $("#qty_"+row_id).val();
                var old_location_value = $("#location_"+row_id).val();
                var old_managers_value = $("#managers_"+row_id).val();
                var old_order_date_value = $("#order_date_"+row_id).val();
                var old_due_date_value = $("#due_date_"+row_id).val();
                var old_ship_date_value = $("#ship_date_"+row_id).val();
                var old_f_bill_value = $("#f_bill_"+row_id).val();
                var old_comment_value = $("#comment_"+row_id).val();

                
                $("#LoadingImage").show();
                $.ajax({
                    type: 'POST',
                    url: '/orders/edit/' + row_id,
                    data:{
                        pn : (typeof pn === "undefined" ? old_pn_value : pn), 
                        qty: (typeof qty === "undefined" ? old_qty_value : qty),
                        location: (typeof location === "undefined" ? old_location_value : location),
                        managers: (typeof managers === "undefined" ? old_managers_value : managers),
                        order_date: (typeof order_date === "undefined" ? old_order_date_value : order_date),
                        due_date: (typeof due_date === "undefined" ? old_due_date_value : due_date),
                        ship_date: (typeof ship_date === "undefined" ? old_ship_date_value : ship_date),
                        f_bill: (typeof f_bill === "undefined" ? old_f_bill_value : f_bill),
                        comment: (typeof comment === "undefined" ? old_comment_value : comment),
                        curr_status: curr_status
                    },
                    success: function (response){
                        if (response.success === 1) {
                            swal({   
                                title: "Thank You",   
                                text: "Record updated successfully!",   
                                type: "success",     
                                confirmButtonColor: "#DD6B55",   
                                confirmButtonText: "OK"
                            },  function(){
                                window.location.reload();                                     
                            });
                        }
                        else {
                            alert("error");
                        }

                    },
                    error: function (xhr) {
                    }   
                });
            });
            //end 

            //update jma po
            $(document).on('click', '.update_jma_po', function () {
                var row_id = $(this).data('row_id');
                var curr_status = $(".curr_status").val();
                var old_pn_value = $("#pn_"+row_id).val();
                var old_qty_value = $("#qty_"+row_id).val();
                var old_location_value = $("#location_"+row_id).val();
                var old_customer_value = $("#customer_"+row_id).val();
                var old_order_date_value = $("#order_date_"+row_id).val();
                var old_due_date_value = $("#due_date_"+row_id).val();
                var old_s_cost_value = $("#s_cost_"+row_id).val();
                var old_core_ret_date_value = $("#core_ret_date_"+row_id).val();
                var old_f_bill_value = $("#f_bill_"+row_id).val();
                var old_comment_value = $("#comment_"+row_id).val();

                $("#LoadingImage").show();
                $.ajax({
                    type: 'POST',
                    url: '/jma-orders/edit/' + row_id,
                    data:{
                        pn : (typeof jma_pn === "undefined" ? old_pn_value : jma_pn), 
                        qty: (typeof qty === "undefined" ? old_qty_value : qty),
                        location: (typeof location === "undefined" ? old_location_value : location),
                        customer: (typeof managers === "undefined" ? old_customer_value : managers),
                        order_date: (typeof order_date === "undefined" ? old_order_date_value : order_date),
                        due_date: (typeof due_date === "undefined" ? old_due_date_value : due_date),
                        s_cost: (typeof s_cost === "undefined" ? old_s_cost_value : s_cost),
                        core_ret_date: (typeof s_cost === "undefined" ? old_core_ret_date_value : jma_core_ret_date),
                        f_bill: (typeof f_bill === "undefined" ? old_f_bill_value : f_bill),
                        comment: (typeof comment === "undefined" ? old_comment_value : comment),
                        curr_status: curr_status
                    },
                    success: function (response){
                        if (response.success === 1) {
                            swal({   
                                title: "Thank You",   
                                text: "Record updated successfully!",   
                                type: "success",     
                                confirmButtonColor: "#DD6B55",   
                                confirmButtonText: "OK"
                            },  function(){
                                window.location.reload();                                     
                            });
                        }
                        else {
                            alert("error");
                        }

                    },
                    error: function (xhr) {
                    }   
                });
            });
            //end
        });

        function getFormattedDate(date1) {
            var date = new Date(date1);
            var year = date.getFullYear();
            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;
            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;
            return month + '-' + day + '-' + year;
        }
        </script>
    </body>
</html>