<div class="content">
    <div class="">
        <div class="page-header-title">
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0 m-b-0">Add User</h4>
                            <div class="row">
                                <form class="" name="frmUsers" id="frmUsers" method="POST" action="" novalidate="">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="m-t-20">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <div>
                                                    <input type="text" id="first_name" name="first_name" class="form-control" required="required" data-parsley-required-message="Please enter first name of the user" placeholder="Please enter first name of the user">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <div>
                                                    <input type="text" id="last_name" name="last_name" class="form-control" required="required" data-parsley-required-message="Please enter last name of the user" placeholder="Please enter last name of the user">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Username</label>
                                                <div>
                                                    <input type="text" id="username" name="username" class="form-control" required="required" data-parsley-required-message="Please enter username of the user" placeholder="Please enter username of the user">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <div>
                                                    <input type="password" id="password" name="password" class="form-control" required="required" data-parsley-required-message="Please enter password of the user" placeholder="Please enter password of the user">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light"> Add </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>